{% extends "base.html" %}
{% load static %}

{% block main %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>



<div class="container-fluid">

    <div class="row mt-5">

        <div class="col-1">

        </div>


        <div class="col-5 mt-4">
            <img src="{% static 'images/boy.jpg' %}" alt="" width="100%" height="100%">

        </div>

        <div class="col-5 " style="text-align: justify;">

            <p>
            <h5>Sakshar Foundation was founded in October 2019 with the mission to empower children through access to
                education, especially to help children in underserved communities that are affected by poverty and
                poorness.
                What triggered these thoughts was the liberalisation of the Indian economy in the 1990’s which brought
                with it immense opportunities. Business revived, and India became not just a market, but also an
                investment prospect for the developed world. Disposable incomes and early settlements became a living
                reality for the working middle-class. For the first time in India, professionals could think beyond
                making a living, and contribute towards the society.</p>
            </h5>
            <br>
            <p>
            <h2>Education is the most powerful weapon which you can use to change the world.</h3>

                <b>-Nelson Mandela</b>
                </p>

                <p>
                <h5>We view education as the great equalizer. It opens doors to opportunity and changes lives. As Nelson
                    Mandela said, “Education is the most powerful weapon which you can use to change the world.” While
                    most societies ensure widespread access to education, there are many less fortunate places around
                    the world where millions of children who dream of attending school simply can’t. Whether it is due
                    to economic, social, or cultural barriers, they are left behind — at great cost to themselves, their
                    families, and their communities.

                </h5>
                </p>


        </div>



        <div class="col-1">

        </div>



    </div>
</div>


{% endblock main %}